.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenses_container {
  margin-top: 160px;
}

* {
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
