.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 25%;
}


.expense-date__day {
  font-weight: bold;
}
